{{#.}}
  <div class="col-lg-3" data-key="{{key}}">
  	<div class="panel panel-primary">
			<div class="panel-heading">{{token}}</div>
		  <div class="panel-body">{{value}}</div>
		</div>
  </div>
{{/.}}